<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Jobsity challenge</span>
  <span class="spacer"></span>
  <button mat-button (click)="_mapper.openReminderForm()">
   <mat-icon>add</mat-icon> New reminder
 </button>
</mat-toolbar>

<div class="calendar__content">
  <ng-container *ngIf="reminder$ | async"></ng-container>
  <ng-container *ngIf="reminderList$ | async"></ng-container>
  <ng-container *ngIf="loader$ | async"></ng-container>

  <full-calendar #calendar
    [options]="settings?.options"
  ></full-calendar>

</div>
